32eACFCp33wP06qI.json
{
  "active": false,
  "connections": {
    "Set Global Variables": {
      "main": [
        [
          {
            "node": "Call 'SEO - Init Dates (3 mois)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Debug Mode": {
      "main": [
        [
          {
            "node": "Debug Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Global Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SEO - Init Dates (3 mois)'": {
      "main": [
        [
          {
            "node": "Call 'SEO - Collecte Search Console (3 mois)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SEO - Analyse sémantique (3 mois)'": {
      "main": [
        [
          {
            "node": "Call 'SEO - Analyse technique (3 mois)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SEO - Analyse technique (3 mois)'": {
      "main": [
        [
          {
            "node": "Call 'SEO - Synthèse + Envoi du rapport (3 mois)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'SEO - Collecte Search Console (3 mois)'": {
      "main": [
        [
          {
            "node": "Fusion - Données Collecte + Période",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusion - Données Collecte + Période": {
      "main": [
        [
          {
            "node": "Call 'SEO - Analyse sémantique (3 mois)'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-15T12:39:43.215Z",
  "id": "32eACFCp33wP06qI",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SEO - Orchestrateur (3 mois, Debug)",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "debug",
              "value": "true"
            },
            {
              "name": "EMAIL_DEST",
              "value": "camille.bideau@gmail.com"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "a15cc7f2-2995-4445-be46-2d3dc444e74f",
      "name": "Set Global Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -528,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.debug === 'true' }}"
            }
          ]
        }
      },
      "id": "00b19c2d-5ab6-4e20-b693-63f45d1369cc",
      "name": "If Debug Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -752,
        240
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { message: '🔍 Debug actif — affichage des sorties intermédiaires activé.' } }];"
      },
      "id": "d6081de5-5e0d-4e99-9525-285ab1692819",
      "name": "Debug Log",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -528,
        240
      ]
    },
    {
      "parameters": {},
      "id": "11caeb3b-a7ce-4daf-a5f2-49734982ff3d",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        16
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "FLtv0nAYX3KayOb5",
          "mode": "list",
          "cachedResultUrl": "/workflow/FLtv0nAYX3KayOb5",
          "cachedResultName": "SEO - Init Dates (3 mois)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -304,
        16
      ],
      "id": "22b68f19-4882-402f-9b7f-d52c1a8291c0",
      "name": "Call 'SEO - Init Dates (3 mois)'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "p7wSGrPwuBTnWK1U",
          "mode": "list",
          "cachedResultUrl": "/workflow/p7wSGrPwuBTnWK1U",
          "cachedResultName": "SEO - Analyse sémantique (3 mois)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": "={\n  periode: $json.periode,\n  sessionKey: $json.sessionKey,\n  debug: $json.debug,\n  collecte: $json.collecte     // ⚠️ ou $json[0].collecte si ta “Collecte” renvoie un tableau\n}"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        368,
        16
      ],
      "id": "9fbebc02-12c2-41b8-9cdd-86c073e52554",
      "name": "Call 'SEO - Analyse sémantique (3 mois)'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "n4rSvz6TxvlLnbCD",
          "mode": "list",
          "cachedResultUrl": "/workflow/n4rSvz6TxvlLnbCD",
          "cachedResultName": "SEO - Analyse technique (3 mois)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        592,
        16
      ],
      "id": "8f4d719a-8295-486d-ad70-5d1b37447bd2",
      "name": "Call 'SEO - Analyse technique (3 mois)'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ph69PnGyEGbxE0ug",
          "mode": "list",
          "cachedResultUrl": "/workflow/ph69PnGyEGbxE0ug",
          "cachedResultName": "SEO - Synthèse + Envoi du rapport (3 mois)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "debug": false,
            "periode": "={{ $('Call \\'SEO - Init Dates (3 mois)\\'').item.json.periode }}",
            "sessionKey": "={{ $('Fusion - Données Collecte + Période').item.json.sessionKey }}",
            "analyse_semantique": "={{ $json.data.output }}",
            "analyse_technique": "={{ $json.data.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "periode",
              "displayName": "periode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "sessionKey",
              "displayName": "sessionKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "debug",
              "displayName": "debug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "analyse_semantique",
              "displayName": "analyse_semantique",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "analyse_technique",
              "displayName": "analyse_technique",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        816,
        16
      ],
      "id": "102a239e-f739-47ea-bdef-338451a04cf0",
      "name": "Call 'SEO - Synthèse + Envoi du rapport (3 mois)'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "O5QEkfjOR5JsoH5Q",
          "mode": "list",
          "cachedResultUrl": "/workflow/O5QEkfjOR5JsoH5Q",
          "cachedResultName": "SEO - Collecte Search Console (3 mois)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": "={\n  periode: $json.periode,\n  sessionKey: $json.sessionKey,\n  debug: $json.debug,\n  EMAIL_DEST: $json.EMAIL_DEST,\n}"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -80,
        16
      ],
      "id": "fc136927-1c6f-4801-b83b-f6efadfd675c",
      "name": "Call 'SEO - Collecte Search Console (3 mois)'"
    },
    {
      "parameters": {
        "jsCode": "const init = $items('Call \\'SEO - Init Dates (3 mois)\\'')[0].json;\nconst collecte = $json.output || $json.collecte;\n\nreturn [{\n  json: {\n    periode: init.periode,\n    sessionKey: init.sessionKey,\n    debug: init.debug ?? true,\n    collecte\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        16
      ],
      "id": "03bb79a6-70de-45f0-9ace-f4ea88fec0ad",
      "name": "Fusion - Données Collecte + Période"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "kamiyechung",
    "name": "Sauvegarde-n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-15T12:39:43.215Z",
      "updatedAt": "2025-10-15T12:39:43.215Z",
      "role": "workflow:owner",
      "workflowId": "32eACFCp33wP06qI",
      "projectId": "oALk376RbKlV8lOt"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-22T17:21:59.866Z",
  "versionId": "9ce73b4f-eb75-4b9e-8f6f-0e5a46429340"
}