BU9U7t8etikHQSAi.json
{
  "active": false,
  "connections": {
    "Formater sortie": {
      "main": [
        []
      ]
    },
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Formater sortie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-02T15:47:46.024Z",
  "id": "BU9U7t8etikHQSAi",
  "isArchived": false,
  "meta": null,
  "name": "[SEO] Analyse IA - Device",
  "nodes": [
    {
      "parameters": {},
      "id": "b957b8cd-6b31-4fa2-971f-7393eba63149",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        144,
        96
      ]
    },
    {
      "parameters": {
        "functionCode": "const input = $input.first().json;\nconst aiResponse = input.content?.[0]?.text || input.response || 'Analyse non disponible';\n\nreturn [{\n  json: {\n    type: 'device_analysis',\n    analysis: aiResponse,\n    deviceBreakdown: input.deviceBreakdown,\n    metadata: {\n      siteUrl: input.siteUrl,\n      siteNiche: input.siteNiche,\n      period: input.period\n    }\n  }\n}];"
      },
      "id": "24ac76e3-ec62-48a7-8ae9-4df66dd91501",
      "name": "Formater sortie",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        720,
        96
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        368,
        96
      ],
      "id": "c805c01e-da55-4bc5-9cfd-4484678ef6a9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        240,
        304
      ],
      "id": "10030440-0575-444c-96f5-cd60db2fc79f",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "ZbZl90Lb8InIiwYE",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "kamiyechung",
    "name": "Sauvegarde-n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-02T15:47:46.024Z",
      "updatedAt": "2025-11-02T15:47:46.024Z",
      "role": "workflow:owner",
      "workflowId": "BU9U7t8etikHQSAi",
      "projectId": "oALk376RbKlV8lOt"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-02T15:47:46.024Z",
  "versionId": "f63be2f4-15b0-4d1f-a1b2-66decc6bacd7"
}