MSPWFGIEEJ2ngIjv.json
{
  "active": false,
  "connections": {
    "New Email Trigger": {
      "main": [
        [
          {
            "node": "Email Classification Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Label": {
      "ai_tool": [
        [
          {
            "node": "Email Classification Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get all Labels": {
      "ai_tool": [
        [
          {
            "node": "Email Classification Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Classification Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-15T14:29:17.857Z",
  "id": "MSPWFGIEEJ2ngIjv",
  "isArchived": false,
  "meta": {
    "templateId": "email_triage_agent_with_gmail",
    "templateCredsSetupCompleted": true
  },
  "name": "[Perso Camille] Email Triage Agent (with Gmail)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {}
      },
      "id": "0280aa41-d55c-47e4-b99b-03b4c7c9e4e7",
      "name": "New Email Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        -32
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "ViGVjvmKJZeysXKZ",
          "name": "Gmail account Camille"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Categorize this email:\n\n**From:** {{ $json.from.value[0].address }}\n**Subject:** {{ $json.subject }}\n**Content:** \n{{ $json.html }}\n\nPlease analyze this email and apply appropriate labels using the available tools.",
        "options": {
          "systemMessage": "=You are an email categorization assistant. Your task is to analyze emails and apply appropriate labels to help organize the user's inbox.\n\nYou have access to two tools:\n1. **Get all Labels** - Retrieves available email labels\n2. **Add Labels** - Applies labels to emails\n\n### Instructions:\n- First, always use \"Get all Labels\" to see available categories\n- Analyze email content for: subject, sender, keywords, and context\n- Apply 1-3 most relevant labels per email\n- Be consistent in categorization patterns\n- If unsure between labels, choose the most specific one\n\n### Response Format:\n1. Brief summary of email content (1 sentence)\n2. Chosen labels with reasoning\n3. Use \"Add Labels\" tool with selected labels\n\nBe efficient and accurate. Focus on helping the user maintain an organized inbox."
        }
      },
      "id": "a4dccc7a-008e-40c5-90dd-c91090a144fd",
      "name": "Email Classification Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        224,
        -32
      ]
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', `Array of Gmail label ids to add. Use the id field from the \"Get all labels\" tool`, 'string') }}"
      },
      "id": "a5e4168b-1ce7-4cfe-ae6d-a1a4ab9b96df",
      "name": "Add Label",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        320,
        192
      ],
      "webhookId": "e7289911-d937-45bd-9e91-410a0dc959f8",
      "credentials": {
        "gmailOAuth2": {
          "id": "ViGVjvmKJZeysXKZ",
          "name": "Gmail account Camille"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to get all existing labels from Gmail",
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        464,
        192
      ],
      "id": "79ee166d-4443-45c6-84e1-8820299cf2de",
      "name": "Get all Labels",
      "webhookId": "291b9995-7ae1-4f65-9ffb-ba62c980b829",
      "credentials": {
        "gmailOAuth2": {
          "id": "ViGVjvmKJZeysXKZ",
          "name": "Gmail account Camille"
        }
      }
    },
    {
      "parameters": {
        "content": "## Start here!\n@[youtube](U1zxP7Ut1Kc)",
        "height": 320,
        "width": 464,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -144
      ],
      "typeVersion": 1,
      "id": "db4fcd5d-7f0a-41f6-9dd7-4100a63f38cc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        96,
        176
      ],
      "id": "d75afce4-56b2-49bd-84a8-bb98e5aee2d3",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "ZbZl90Lb8InIiwYE",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "kamiyechung",
    "name": "Sauvegarde-n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-10-15T14:29:17.857Z",
      "updatedAt": "2025-10-15T14:29:17.857Z",
      "role": "workflow:owner",
      "workflowId": "MSPWFGIEEJ2ngIjv",
      "projectId": "oALk376RbKlV8lOt"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-16T08:53:18.488Z",
  "versionId": "b0a5d0df-761d-415d-96b8-4b6737d694f2"
}