RGYF1wND2pO1MbDg.json
{
  "active": false,
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "A des données ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A des données ?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message si pas de données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message si pas de données": {
      "main": [
        [
          {
            "node": "Formater sortie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-02T15:47:05.742Z",
  "id": "RGYF1wND2pO1MbDg",
  "isArchived": false,
  "meta": null,
  "name": "[SEO] Analyse IA - Stratégie contenu",
  "nodes": [
    {
      "parameters": {},
      "id": "cd65f832-424d-46e9-ad5a-11d86dc04b1e",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.newWinners.length + $json.positionLosers.length }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "d5c051d6-f82f-4194-a77c-9ecce9197518",
      "name": "A des données ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -144,
        208
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    type: 'content_strategy',\n    analysis: 'Pas de données significatives cette semaine pour définir une nouvelle stratégie de contenu. Continuez sur la stratégie en cours.',\n    metadata: {\n      siteUrl: $input.first().json.siteUrl,\n      siteNiche: $input.first().json.siteNiche,\n      period: $input.first().json.period\n    }\n  }\n}];"
      },
      "id": "f8442db7-d1d6-40af-982a-97820bd3e807",
      "name": "Message si pas de données",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        64,
        304
      ]
    },
    {
      "parameters": {
        "functionCode": "const input = $input.first().json;\nconst aiResponse = input.content?.[0]?.text || input.response || input.analysis;\n\nreturn [{\n  json: {\n    type: 'content_strategy',\n    analysis: aiResponse,\n    winnersCount: input.newWinners?.length || 0,\n    losersCount: input.positionLosers?.length || 0,\n    metadata: {\n      siteUrl: input.siteUrl,\n      siteNiche: input.siteNiche,\n      period: input.period\n    }\n  }\n}];"
      },
      "id": "69fb8837-1c2b-4035-bab7-959379414c69",
      "name": "Formater sortie",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        272,
        208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        64,
        112
      ],
      "id": "e4070bc9-2d3f-4be1-a5e3-1c7c475e0def",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -80,
        320
      ],
      "id": "0e2be777-608f-43cb-b39d-1f22532cead0",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "ZbZl90Lb8InIiwYE",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "kamiyechung",
    "name": "Sauvegarde-n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-02T15:47:05.742Z",
      "updatedAt": "2025-11-02T15:47:05.742Z",
      "role": "workflow:owner",
      "workflowId": "RGYF1wND2pO1MbDg",
      "projectId": "oALk376RbKlV8lOt"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-02T15:47:05.742Z",
  "versionId": "3bf9f623-2b9b-488d-b8c0-5e9205ef4a45"
}