WSvT5OC2ERcdlsWH.json
{
  "active": false,
  "connections": {
    "When called by another workflow": {
      "main": [
        [
          {
            "node": "A des données ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A des données ?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message si pas de données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message si pas de données": {
      "main": [
        [
          {
            "node": "Formater sortie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-02T15:46:05.898Z",
  "id": "WSvT5OC2ERcdlsWH",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[SEO] Analyse IA - Opportunités CTR",
  "nodes": [
    {
      "parameters": {},
      "id": "7fdd0ae8-1380-47af-bf01-fa3a2e1c0f47",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.lowCTROpportunities.length }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "7bed3b26-f5f4-42fc-9d9d-a3c51650aa38",
      "name": "A des données ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{\n  json: {\n    type: 'ctr_opportunities',\n    analysis: 'Aucune opportunité CTR significative détectée cette semaine. Toutes les requêtes ont un CTR correct par rapport à leur position.',\n    metadata: {\n      siteUrl: $input.first().json.siteUrl,\n      siteNiche: $input.first().json.siteNiche,\n      period: $input.first().json.period\n    }\n  }\n}];"
      },
      "id": "02e01fac-d103-430c-ae21-9bf2827e006d",
      "name": "Message si pas de données",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "functionCode": "const input = $input.first().json;\nconst aiResponse = input.content?.[0]?.text || input.response || input.analysis;\n\nreturn [{\n  json: {\n    type: 'ctr_opportunities',\n    analysis: aiResponse,\n    opportunitiesCount: input.lowCTROpportunities?.length || 0,\n    metadata: {\n      siteUrl: input.siteUrl,\n      siteNiche: input.siteNiche,\n      period: input.period\n    }\n  }\n}];"
      },
      "id": "06ef6d7d-2843-4987-8493-6ec86ccf4123",
      "name": "Formater sortie",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        208,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        16
      ],
      "id": "94e25737-770b-4554-8cb6-f8349e94f598",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -144,
        224
      ],
      "id": "fa658764-9211-408c-9847-df35bdfc6ab7",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "ZbZl90Lb8InIiwYE",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "kamiyechung",
    "name": "Sauvegarde-n8n"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-11-02T15:46:05.898Z",
      "updatedAt": "2025-11-02T15:46:05.898Z",
      "role": "workflow:owner",
      "workflowId": "WSvT5OC2ERcdlsWH",
      "projectId": "oALk376RbKlV8lOt"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-02T15:46:05.898Z",
  "versionId": "1fd4da1d-22ef-4d46-a01c-c1d80654c57f"
}